.events-container {
  min-height: 100vh;
  width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 3px;
  border-radius: 5px;
  padding: 1%;
}

.search-container {
  height: 30vh;
  width: 96vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.no-events {
  color: aliceblue;
  font-size: 2rem;
}

.no-events a {
  text-decoration: none;
  color: rgb(88, 187, 229);
  text-shadow: rgb(62, 102, 138) 1px 3px 3px;
}

.form-control {
  min-height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form-control input {
  height: 15%;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.4);
  border: 0.1mm solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: aliceblue;
  font-size: large;
}

.form-control input::placeholder {
  color: aliceblue;
  font-size: large;
  text-align: center;
}

.event-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: aliceblue;
  font-size: 2.5rem;
}

.events-content {
  height: 50vh;
  width: 96vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border: 0.1mm solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin: 5px;
}

.events-banner {
  height: 95%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.events-banner img {
  height: 60%;
  width: 60%;
  border: 0.1mm solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  transition: transform 1s ease,
    background-color 2s ease,
    color 2s ease;
}

.events-banner img:hover {
  transform: scale(1.06);
}

#event-date {
  color: aliceblue;
  font-size: 1.2rem;
}

.events-data {
  height: 95%;
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#event-title,
#event-city {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.content-description {
  height: 20%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 1.5rem;
}