#msg {
  position: absolute;
  height: 10%;
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border: 0.1mm solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: #1d8536;
  font-size: 2rem;
  top: 115px;
}