.dashboard-container {
  height: 100vh;
  width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 3px;
  border-radius: 5px;
}

.dashboard-content {
  height: 96%;
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 0.1mm solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 1%;
  color: aliceblue;
  padding: 1%;
}

#dashboard-title {
  font-size: 2.5rem;
}

.dashboard-content-table {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 1%;
}

.dashboard-content-table table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.dashboard-content-table th,
.dashboard-content-table td {
  height: 100px;
  padding: 30px;
  border-bottom: 0.1mm solid rgba(255, 255, 255, 0.2);
}

.dashboard-content-table th {
  font-size: 1.2rem;
}

.dashboard-content-table td a {
  text-decoration: none;
}

#create-one {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin: auto;
}

#create-one a {
  text-decoration: none;
  color: rgb(88, 187, 229);
  text-shadow: rgb(62, 102, 138) 1px 3px 3px;
}

/* dashboard-my-events */

.dashboard-my-events {
  min-height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.4);
  /* border: 0.1mm solid rgba(255, 255, 255, 0.2); */
  border-radius: 5px;
  margin: 1%;
}

.dashboard-my-events table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;

}

.dashboard-my-events th,
.dashboard-my-events td {
  height: 100px;
  padding: 30px;
  border-bottom: 0.1mm solid rgba(255, 255, 255, 0.2);
}

.dashboard-my-events th {
  font-size: 1.2rem;
}

.dashboard-my-events td a {
  text-decoration: none;
}